@tailwind base;
@tailwind components;
@tailwind utilities;

div[id] {
  transition: all ease 1s;
}

.one {
  background-color: deeppink;
}

.two {
  background-color: darkviolet;
}

.solved {
  background-color: greenyellow;
}

.link:hover {
  background-color: #0040E0;
}

.yap {
  padding-left: 10px;
  padding-right: 10px;
}