@tailwind base;
@tailwind components;
@tailwind utilities;

div[id] {
  transition: all ease 1s;
}

.one {
  background-color: deeppink;
}

.two {
  background-color: darkviolet;
}

.solved {
  background-color: greenyellow;
}

.link:hover {
  background-color: #022D9B;
}

.active {
  background-color: #0040E0;
}

.yap {
  padding-left: 10px;
  padding-right: 10px;
}

.yep {
  outline-color: #06b6d4;
}

.huh {
  animation: fadeInRight 1s ease-in-out;
}

.heh {
  animation: fadeOutRight 1s ease-in-out forwards;
}

/* .hoh {
  transition: all 0.3s ease-out;
  width: auto;
  flex: 1;
}

.hih {
  flex: 0;
} */

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(300px);
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOutRight {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateX(300px);
  }
}